<h1>SQL Injection</h1>

<ul>
    <li>
        <span class="title"><a href="{% url sql_injection.views.basic %}?name=John">Get John's phone number</a></span>
        <span class="description">A simple SQL injection, hand-made query</span>
        <span class="hint">(Try classic SQL injection payload)</span>
    </li>
    <li>
         <span class="title"><a href="{% url sql_injection.views.advanced %}?name=Ellen">Get Ellen's phone number</a></span>
         <span class="description">Expert SQL injection</span>
         <span class="hint">(No solution for now. If you find one, please share it with the Django development team)</span>
    </li>
</ul>